section, h1 {
	text-align: center;
	margin: 10px;
	padding: 20px;
}

h1 {
	color: #FFB03B;
}

body {
    background-color: #8E2800;	
}

#page {
    margin: 0px;
    bottom: 0px;
    height: 800px;
    width: 100%;
    float: left;
    background-color: #FFF0A5;
}

label {
	font-size: 22px;
}

.introduction {
	font-size: 22px;
	padding: 20px;
	margin: 0px 150px;
}

.btn {
	background-color: #468966;
	border: none;
}

.correct-clicked {
    background: #8E2800; 
}

.playerNames {
	background-color: #468966;
	color: #FFB03B;
	height: 300px;
	width: 200px;
	margin: 20px auto;
	padding: 10px;	
	border-radius: 10px;
}

h3 {
	border: 1px solid #8E2800;
	border-radius: 10px;
}

.playerScores {
	background-color: #468966;
	height: 300px;
	width: 200px;
	margin: 20px auto;
	padding: 10px;	
	border-radius: 10px;
}

.jumbotron {
	background-color: #8E2800;
	color: #FFB03B;
	height: 900px;
}